/* Script runtime errors are printed inside this div */
div.steam-market-excerpt-error {
}

/* The most outer div which encapsulates all of the excerpt */
div.steam-market-excerpt {
	vertical-align: top;
	display: inline-flex;
	flex-direction: column;

	width: 260px;
	min-height: 390px;
	margin: 1px;

	text-align: center;

	color: rgba(255, 255, 255, 0.7);
	background-color: #2B2C2C;
	border-width: 2px;
	border-style: solid;
	border-color: #394f22;
	border-radius: 8px;
}

/* Item name div */
div.steam-market-excerpt-name {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;

	padding: 5px;

	color: #fffffa;
	background-color: #343838;
	border: 0 0 0 1px solid rgba(0, 0, 0, 0.18);
}

/* Item name link */
a.steam-market-excerpt-name {
	font-size: 1.1em;

	color: #fff;
}

a.steam-market-excerpt-name:hover {
	color: #f9a825;
}

/* Item image div */
div.steam-market-excerpt-image {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-grow: 1;

	padding: 5px;
}

/* Item image img */
img.steam-market-excerpt-image {
}

/* Embeds price and volume */
div.steam-market-excerpt-fields {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	padding: 5px;

	font-size: .9em;

	text-align: center;    

	background-color: #343838;
	border: 0 1px 0 0 solid rgba(0, 0, 0, 0.18);
}

/* Item lowest price div */
div.steam-market-excerpt-lowestprice {
}

/* Item median price div */
div.steam-market-excerpt-medianprice {
}

/* Item volume div */
div.steam-market-excerpt-volume {
}

/*
If you want to hide any of the fields use "display:none" on it.
In case you want to not show the image, then it's more efficient to use the
	shortcode's "showimage" parameter set to "false" instead of altering the CSS,
	because this way the image won't even be downloaded.
	[steam_market_excerpt game="730" name="AK-47 | Elite Build (Factory New)" showimage="false"]
*/
